<% if products.blank? %>
  <h4 class= "col-4 offset-4 mt-5 background text-center">投稿した商品はありません</h4>
<% else %>
  <div class= "row">
    <div class="col-12 table-responsive-sm">
      <table class='table table_group text-nowrap'>
        <tr class="head align-middle text-center">
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>5点満点評価</th>
          <th>評価数</th>
          <th>ステータス</th>
        </tr>
        <% products.each do |product| %>
        <tr class="td mb-sm-0 align-middle text-center">
          <td><%= link_to product.name, user_product_path(@user, product) %></td>
          <td><%= product.price %><span>円</span></td>
          <td><%= product.genre.name %></td>
          <td class="average-review-rating" data-score=<%= product.reviews.average(:all_rating) %>></div>
          　<%= product.reviews.average(:all_rating).to_f.round(1) %>
          </td>
          <td><%= product.reviews.count %><span>人</span></td>
          <td>
            <% if product.active_status == "sale" %>
            <div class= "text-success"><%= product.active_status_i18n %></div>
            <% elsif product.active_status == "limited_time_sale" %>
             <div class= "text-warning"><%= product.active_status_i18n %></div>
             <% else %>
             <div class= "text-secondary"><%= product.active_status_i18n %></div>
             <% end %>
          </td>
     　  </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>