<%= form_with(model: [user, product],local: true) do |f| %>
<div class="row">
  <div class="col-lg-2 col-md-3 col-6 text-right">
    <h4>商品詳細</h4>
  </div>
  <% if product.is_secret == true %>
  <div class="toggle_switch col-md-1 col-2">
    <input type="checkbox" id="postTypeToggle" class="toggle_input">
    <label for="postTypeToggle" class="toggle_label"></label>
  </div>
  <%= f.hidden_field :is_secret %>
   <div class="btn-group col-md-1 col-2" role="group" id="buttonGroup" data-value="<%= product.is_secret.to_s %>">
      <%= f.submit '非公開', id: 'secretButton',  name: 'is_secret', class: "btn btn-danger" %>
    </div>
  </div>
  <% else %>
  <div class="toggle_switch col-md-1 col-2">
    <input type="checkbox" id="postTypeToggle" class="toggle_input" checked />
    <label for="postTypeToggle" class="toggle_label"></label>
  </div>
  <%= f.hidden_field :is_secret %>
   <div class="btn-group col-md-1 col-2" role="group" id="buttonGroup" data-value="<%= product.is_secret.to_s %>">
      <%= f.submit '公開中', id: 'releaseButton', name: 'is_secret', class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
<script>
$(document).ready(function() {
  // ボタンの要素を生成
  var releaseButton = $('<%= f.submit "公開中", id: "releaseButton", name: 'is_secret', class: "btn btn-primary btn-sm" %>');
  var secretButton = $('<%= f.submit "非公開", id: "secretButton", name: 'is_secret', class: "btn btn-danger btn-sm" %>');

  // トグルスイッチの変更イベント
  $('#postTypeToggle').change(function() {
    var isChecked = $(this).is(':checked');
    var buttonGroup = $('#buttonGroup');

    buttonGroup.empty(); // 既存のボタンを削除

    // トグルがオンかオフかによって適切なボタンを切り替え
    if (isChecked) {
      buttonGroup.append(releaseButton); // on
    } else {
      buttonGroup.append(secretButton); // off
    }
  });
  // 初期設定：トグルの状態に応じたボタンを表示
  $('#postTypeToggle').change();
});
</script>
<% end %>