<div class='container py-5 px-sm-0'>
  <div class='row'>
    <div class='col-lg-3 offset-lg-0 col-8 offset-2 mb-3'>
        <%= render 'admin/users/info', user: @item.user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class= "d-flex flex-wrap">
        <div class="col-md-6 flex-fill">
          <h4><%= @item.user.name %>さんの投稿</h4>
        </div>
        <div class="col-md-6 mb-1 d-flex">
          <%= form_with model: [:admin, @item], method: :patch , local: true, class: "d-flex flex-column flex-md-row" do |f| %>
          <%= f.select( :status, Item.statuses_i18n.invert, {}, class: 'form-control text-center  mr-md-2 mb-2 mb-md-0')%>
          <%= f.submit "更新", class: "btn btn-success" %>
          <% end %>
    　　</div>
      </div>
      <div class="col-sm-12 table-responsive-sm">
        <table class="table text-nowrap table-bordered">
         <tr class ="align-middle text-center">
          <th class="user_name"><%= image_tag @item.user.get_profile_image(30,30), class: "rounded-circle" %><%= @item.user.name %>さん
          <%= render 'layouts/user_certification', user: @item.user %>
          </th>
          <th class="head" colspan="5">投稿画像
           <%= link_to admin_item_path(@item), method: :delete, "data-confirm" => "投稿を削除しますか？" do %>
            <i class="fa-solid fa-eraser"></i>削除
           <% end %>
          </th>
         </tr>
         <tr class="align-middle text-center">
           <td class="td" colspan="5"><%= image_tag @item.product.get_image, size:'300x300' %></td>
         </tr>
         <tr class="align-middle text-center">
          <th class="head">商品名</th>
          <td class="td" colspan="2"><%= @item.title %></td>
          <th class="head">会社</th>
          <td class="td" colspan="2"><%= @item.company %></td>
         </tr>
         <tr class="align-middle text-center">
           <th class="head">レビュー</th>
           <td class="td" style="white-space: normal;" colspan="5"><%= @item.body %></td>
         </tr>
         <tr class="align-middle text-center">
          <th class="head">購入場所</th>
          <td class="td" colspan="2"><%= @item.area %></td>
          <th class="head">スター数</th>
          <td class="td"colspan="2"><%= render "public/items/static_rate", item: @item %></td>
         </tr>
         <tr class="align-middle text-center">
          <th class="head">コメント数</th>
          <td class="td"><%= @item.post_comments.count %>件</td>
          <td class="td" colspan="2"><%= @item.view_counts.count %>回表示</td>
          <td class="td"><%= link_to "退会処理をする", edit_admin_user_path(@item.user), class: "text-dark" %></td>
         </tr>
     </table>
     </div>
     <div class="col-md-5 col-6 offset-md-7 offset-3 mb-4 mt-lg-0 mt-3 align-middle text-center background"><span>投稿日　</span><%= @item.created_at.strftime('%Y/%m/%d') %></div>
   </div>
  </div>
</div>
