<div class= "container py-5 px-sm-0">
  <div class= "row">
    <h2 class= "col-12">参加企業一覧</h2>
    <% if @users.blank? %>
    <h4 class= "col-4 offset-4 mt-5 background text-center">参加中の企業はいません</h4>
    <% else %>
    　<% @users.each do |user| %>
       <table class='table table_group'>
        <tbody>
          <tr>
            <td class="align-middle text-center" style="width: 20%">
              <% if user_signed_in? %>
              <%= link_to(user) do %>
                <%= image_tag user.get_profile_image(100,100), class: 'img_icon' %><br>
                <%= user.name %>
                <% end %>
              <% else %>
                <%= image_tag user.get_profile_image(100,100), class: 'img_icon' %><br>
                <%= user.name %>
              <% end %>
            </td>
             <td class="align-middle text-center" style="width: 25%"><%= user.introduction %></td>
             <td class="align-middle text-center" style="width: 20%"><%= user.address %></td>
             <td class="align-middle text-center" style="width: 20%">
              <%= link_to user_products_path(user) do %>
                商品一覧を見る(<%= user.products.count %>)
              <% end %>
             </td>
             <!--ログインしてない場合はフォローできないように-->
             <% if user_signed_in? %>
             <td class="align-middle text-center" style="width: 15%">
              <% if current_user != user %>
                <% if user.followed_by?(current_user) %>
                    <p><%=link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: 'btn btn-danger btn-sm' %></p>
                <% else %>
                    <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: 'btn btn-success btn-sm' %></p>
                <% end %>
              <% end %>
             </td>
             <% end %>
          </tr>
        </tbody>
       </table>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate @users %>
  </div>
</div>
