    <% chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
       <div class="col-2 text-center">
         <%= image_tag chat.user.get_profile_image(100,100), class: "rounded-circle" %><br>
       </div>
       <div class= "col-10">
         <span><%= chat.user.name %>さん</span><br>
        <div class="says w-auto">
            <%= chat.message %>
        </div>
      </div>
      <% else %>
       <div class= "col-10 text-right">
         <span><%= chat.user.name %>さん</span><br>
        <div class="other-user-says w-auto">
            <%= chat.message %>
        </div>
      </div>
       <div class="col-2 text-center">
         <%= image_tag chat.user.get_profile_image(100,100), class: "rounded-circle" %><br>
       </div>
      <% end %>
    <% end %>

