<div class= "container py-5 px-sm-0">
  <div class= "row">
    <div class='col-8 offset-2'>
      <h2>投稿内容</h2>
      <table class="table text-nowrap table-bordered">
      <tr class ="head">
        <th class="align-middle text-center user_name head">
          <%= image_tag @item.user.get_profile_image(30,30) %>
          <%= @item.user.name %>さん
        </th>
        <th class="align-middle text-center head" colspan="5">投稿画像 </th>
      </tr>
       <tr>
         <td class="align-middle text-center td" colspan="5"><%= image_tag @item.get_image, size:'300x300' %></td>
       </tr>
       <tr>
        <th class="align-middle text-center head">商品名</th>
        <td class="align-middle text-center td" colspan="2"><%= @item.title %></td>
        <th class="align-middle text-center head">会社</th>
        <td class="align-middle text-center td" colspan="2"><%= @item.company %></td>
      </tr>
       <tr>
         <th class="align-middle text-center head">レビュー</th>
         <td class="align-middle text-center td" style="white-space: normal;" colspan="5"><%= @item.body %></td>
       </tr>
      <tr>
        <th class="align-middle text-center head">購入場所</th>
        <td class="align-middle text-center td" colspan="2"><%= @item.area %></td>
        <th class="align-middle text-center head">スター数</th>
        <td class="align-middle text-center td"colspan="2"><%= render "public/items/static_rate", item: @item %></td>
      </tr>
      <tr>
         <th class="align-middle text-center head">コメント数</th>
        <td class="align-middle text-center td"><%= @item.post_comments.count %>件</td>
        <td class="align-middle text-center td" colspan="2"><%= @item.view_counts.count %>回表示</td>
        <td class="align-middle text-center td"></td>
      </tr>
     </table>
    </div>
  </div>
  <div class= "row">
    <div class= "col-6 offset-3 mt-5">
      <h3>管理者に報告する</h3>
      <%= form_with model: [@item, @report] do |f| %>
        <%= f.text_area :report, class: 'form-control', rows: '6', placeholder: "報告内容を記載" %><br>
        <%= f.submit "報告する", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>
