<h4 class="align-middle text-center">プロフィール
<% if current_user != user && current_user.followed_by?(user) && user.followed_by?(current_user) %>
  <%= link_to 'DM', chat_path(user.id), class: "btn btn-info btn-sm" %>
<% end %>
</h4>
<table class='table'>
  <tr>
  <th class="align-middle text-center" colspan="2"><%= image_tag user.get_profile_image(80,80) %></th>
  </tr>
  <tr>
	  <th class="align-middle text-center info_text w-50">ユーザー名</th>
	  <th class="align-middle text-center info_text w-50"><%= user.name %></th>
  </tr>
  <tr>
	  <th class="align-middle text-center info_text w-50">自己紹介</th>
	  <th class="align-middle text-center info_text w-50"><%= user.introduction %></th>
  </tr>
  <tr>
    <th class="align-middle text-center info_text w-50">ホームページ</th>
    <th class="align-middle text-center info_text w-50"><%= user.address %></th>
  </tr>
  <tr>
    <th class="align-middle text-center info_text w-50">ステータス</th>
    <th class="align-middle text-center info_text w-50"><%= user.position_status_i18n %></th>
  </tr>

  <tr>
     <th class="align-middle text-center info_text w-50">フォロー数
      <%= link_to follows_user_path(user) do %>
        <%= "#{user.active_relationships.count}" %>
      <% end %>
    </th>
    <th class="align-middle text-center info_text w-50">フォロワー数
      <%= link_to followers_user_path(user) do %>
       <%= "#{user.passive_relationships.count}" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th class="align-middle text-center">
       <% if current_user != user %>
          <% if user.followed_by?(current_user) %>
              <p><%=link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: 'btn btn-danger btn-sm' %></p>
          <% else %>
              <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: 'btn btn-success btn-sm' %></p>
          <% end %>
      <% end %>
    </th>
     <th><%=link_to"いいね一覧",favorites_user_path(user), class: 'btn btn-primary btn-sm' %></th>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block mb-3" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

<div class='row'>
<% if user.company? %>
  <%= link_to user_products_path(user), class: "btn btn-outline-info btn-block mb-3" do %>
    <span>商品一覧を見る</span>
  <% end %>
<% end %>
</div>
