<% if users.blank? %>
  <h4 class= "col-4 offset-4 mt-5 background text-center">ユーザーはいません</h4>
<% else %>
  <% users.each do |user| %>
    <div class="col-12 table-responsive">
      <table class='table table_group text-nowrap'>
        <tbody>
          <tr>
            <td class="align-middle text-center" style="width:30%;"><%= link_to(user) do %>
              <%= image_tag user.get_profile_image(90,90),class: "img_icon" %><br>
              <%= user.name %>
              <% end %>
            </td>
            <td class="align-middle text-center" style="width:25%;"><%= user.introduction %></td>
            <td class="align-middle text-center" style="width:15%;"><%= "フォロー数: #{user.active_relationships.count}" %></td>
            <td class="align-middle text-center" style="width:%;"><%= "フォロワー数: #{user.passive_relationships.count}" %></td>
            <td class="align-middle text-center" style="width:15%;", id="follow_contents_<%= user.id %>">
              <% if current_user != user %>
              <%= render "public/relationships/relationship", user: user %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>