<h4 class="align-middle text-center">おかしを紹介する</h4>
<%= form_with model: item,local:true do |f| %>

  <div class="form-group row justify-content-center">
　　<%= f.file_field :image, class:'ml-3',accept: "image/*" %>
  </div>

  <div class="form-group row justify-content-center">
    <div class="form-inline form_text">
      <label>商品名</label>
      <%= f.text_field :title, class: 'form-control item_name ml-1 form w-15', placeholder:"商品名" %>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <div class="form-inline form_text">
      <label>製造会社</label>
      <%= f.text_field :company, class: 'form-control item_name ml-1 form w-15', placeholder:"○○株式会社" %>
    </div>
  </div>

   <div class="form-group row justify-content-center">
    <div class="form-inline form_text">
      <label>購入場所</label>
      <%= f.text_field :area, class: 'form-control item_price ml-1 form w-15', placeholder: "スーパー" %>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <div class="form-inline form_text">
      <label>レビュー</label>
      <%= f.text_area :body, class: 'form-control item_introduction ml-1 form w-15', rows: 8, placeholder:"ここに説明文を記述します" %>
    </div>
  </div>

  <!-- スターの表示 -->
  <% if item.id.nil? %>
    <div class="form-group row justify-content-center" id="star">
      <label>スター数　</label>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'item[star]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group">
      <%= render "static_rate", item: item %>
    </div>
  <% end %>

  <div class="form-group text-center">
    <% if f.object.new_record? %>
      <%= f.submit "新規登録", class: 'btn btn-success px-5' %>
    <% else %>
      <%= f.submit "変更を保存", class: 'btn btn-success px-5' %>
    <% end %>
  </div>
<% end %>