<% if items.blank? %>
 <h4 class= "col-4 offset-4 mt-5 background text-center">投稿はありません</h4>
<% end %>

 <% items.each do |item| %>
  <div class="table-responsive-sm">
   <table class="table text-nowrap table-bordered w-100">
      <tr class ="align-middle text-center">
         <th class="user_name">
          <%= image_tag item.user.get_profile_image(30,30), class: "rounded-circle" %><%= item.user.name %>さん
          <%= render 'layouts/user_certification', user: item.user %>
          </th>
         <th class="head" colspan="5"> <a data-toggle="collapse" href="#collapse1" class= "text-secondary">▼</a>投稿画像
         <% if item.user == current_user %>
           <%= link_to item_path(item), method: :delete do %>
            <i class="fa-solid fa-eraser"></i>削除
           <% end %>
         <% end %>
         </th>
       </tr>
        <tr class="align-middle text-center td panel-collapse collapse" id="collapse1">
          <td colspan="5"><%= image_tag item.product.get_image, size:'300x300' %></td>
        </tr>
        <tr class="align-middle text-center">
         <th class="head">商品名</th>
         <td class="td" colspan="2"><%= item.title %></td>
         <th class="head">会社</th>
         <td class="td" colspan="2"><%= item.company %></td>
       </tr>
        <tr class="align-middle text-center">
          <th class="head">レビュー</th>
          <td class="td" style="white-space: normal;" colspan="5"><%= item.body %></td>
        </tr>
       <tr class="align-middle text-center">
         <th class="head">購入場所</th>
         <td class="td" colspan="2"><%= item.area %></td>
         <th class="head">スター数</th>
         <td class="td"colspan="2"><%= render "public/items/static_rate", item: item %></td>
       </tr>
       <tr class="align-middle text-center">
          <th class="head">コメント数</th>
         <td class="td"><%= item.post_comments.count %>件</td>
         <td class="td" colspan="2"><%= item.view_counts.count %>回表示</td>
         <td class="td", id="favorite_buttons_<%= item.id %>"><%= render 'public/favorites/favorite', item: item %></td>
       </tr>
   </table>
 </div>
 <div class="row justify-content-around text-center align-middle">
  <div class="col-lg-4 col-md-5 col-sm-4 col-8 mb-lg-5 my-sm-3 my-3 background"><strong><%= link_to "コメントをする" ,item, class: "text-dark" %></strong></div>
  <div class="col-lg-4 col-md-5 col-sm-4 col-8 mb-lg-5 my-sm-3 mb-4 background"><span>投稿日　</span><%= item.created_at.strftime('%Y/%m/%d') %></div>
 </div>
 <% end %>


