<div class='container py-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/users/info', user: @user %>
      <div class= "row d-none d-md-block">
       <%= render 'form', item: @item %>
      </div>
      <%= render 'public/genres/genre_search', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1 mt-3'>
     <h4>投稿一覧</h4>
     <%= link_to '新着順', items_path(latest: "true"), class: "text-dark" %> |
     <%= link_to 'コメント順', items_path(most_commented: "true"), class: "text-dark" %> |
     <%= link_to 'いいね順', items_path(most_favorited: "true"), class: "text-dark" %>
     <%= render 'postitems', items: @items %>
    </div>
  </div>
  <div class="row justify-content-center">
     <%= paginate @items %>
　</div>
</div>
