<div class='container py-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 '>
      <%= render 'public/users/info', user: @user %>
      <%= render 'form', item: @new_item %>
      <%= render 'public/genres/genre_search', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>投稿内容</h2>
      <table class="table text-nowrap table-bordered">
      <tr class ="head">
        <th class="align-middle text-center user_name head"><%= link_to(@item.user) do %>
          <%= image_tag @item.user.get_profile_image(30,30) %>
          <%= @item.user.name %>さん
        <% end %>
        </th>
        <th class="align-middle text-center head" colspan="5">投稿画像
        <% if @item.user == current_user %>
          <%= link_to item_path(@item), method: :delete do %>
           <i class="fa-solid fa-eraser"></i>削除
          <% end %>
        <% end %>
        </th>
      </tr>
       <tr>
         <td class="align-middle text-center td" colspan="5"><%= image_tag @item.get_image, size:'300x300' %></td>
       </tr>
       <tr>
        <th class="align-middle text-center head">商品名</th>
        <td class="align-middle text-center td" colspan="2"><%= @item.title %></td>
        <th class="align-middle text-center head">会社</th>
        <td class="align-middle text-center td" colspan="2"><%= @item.company %></td>
      </tr>
       <tr>
         <th class="align-middle text-center head">レビュー</th>
         <td class="align-middle text-center td" style="white-space: normal;" colspan="5"><%= @item.body %></td>
       </tr>
      <tr>
        <th class="align-middle text-center head">購入場所</th>
        <td class="align-middle text-center td" colspan="2"><%= @item.area %></td>
        <th class="align-middle text-center head">スター数</th>
        <td class="align-middle text-center td"colspan="2"><%= render "public/items/static_rate", item: @item %></td>
      </tr>
      <tr>
         <th class="align-middle text-center head">コメント数</th>
        <td class="align-middle text-center td", id="comment_count"><%= @item.post_comments.count %><span>件</span></td>
        <td class="align-middle text-center td" colspan="2"><%= @item.view_counts.count %>回表示</td>
        <td class="align-middle text-center td", id="favorite_buttons_<%= @item.id %>"><%= render 'public/favorites/favorite', item: @item %></td>
      </tr>
     </table>
     <div class="row justify-content-around">
      <div class="col-5 mb-3 align-middle text-center background "><strong><%= link_to "不適切な投稿として報告する" ,new_item_reports_path(@item), class: "text-dark" %></strong></div>
      <div class="col-3  mb-3 align-middle text-center background"><span>投稿日　</span><%= @item.created_at.strftime('%Y/%m/%d') %></div>
     </div>
     <div id="post-comments">
      <%= render "public/post_comments/show" ,item: @item %><br>
    </div>
    <div id="comment-form">
      <%= render "public/post_comments/form" ,item: @item , post_comment: @post_comment  %>
    </div>
   </div>
  </div>
</div>
